@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-radix-popper-content-wrapper] {
    background-color: transparent !important;
  }
  [data-radix-menu-content] {
    background-color: transparent !important;
    border: none !important;
  }
  [data-state='open'] {
    background-color: transparent !important;
    border: none !important;
  }
  [data-state='closed'] {
    background-color: transparent !important;
    border: none !important;
  }
  input::selection {
    background: black; /* Your preferred color */
    color: white; /* Your preferred color */
  }
  input::-moz-selection { /* For Firefox */
    background: black;
    color: white;
  }
  .blur {
    filter: blur(5px);
  }
}

