@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-radix-popper-content-wrapper] {
    background-color: transparent !important;
  }
  [data-radix-menu-content] {
    background-color: transparent !important;
    border: none !important;
  }
  [data-state='open'] {
    background-color: transparent !important;
    border: none !important;
  }
  [data-state='closed'] {
    background-color: transparent !important;
    border: none !important;
  }
}

